<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/lstyle.css' />
</head>
<body>
<div id="login">

    <h2><%= pagetitle %></h2>

    <form method="post">

        <fieldset>

            <p><label>Build By</label></p>
            <p><h3><%= message %></h3></p>
            <br>
            <p>This project is to track the price of online shopping site like snapdeal and flipkart.
            </p>

            <p><input type="button" value="Sign In" onclick="location.href='/'">
                <input type="button" value="Register" onclick="location.href='/signup'">
                <input type="button" value="About" onclick="location.href='/about'"></p>
        </fieldset>

    </form>

</div>
</body>
</html>
