<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/lstyle.css' />
</head>
<body>

<div id="login">

    <h2><span class="fontawesome-lock"></span><%= pagetitle %></h2>

    <form method="post">

        <fieldset>

            <p><label for="email">E-mail address</label></p>
            <p><input type="email" name="email" id="email" placeholder="email@address.com" required></p>

            <p><label for="password">Password</label></p>
            <p><input type="password" name="password" id="password" placeholder="Password" required></p>

            <p><input type="submit" name="pass" value="Sign In" style="background-color: #FFA000">
            <input type="button" value="Register" onclick="location.href='/signup'">
            <input type="button" value="About" onclick="location.href='/about'"></p>
            <p><%= message %></p>
        </fieldset>

    </form>

</div>


</body>
</html>
