<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/lstyle.css' />
</head>
<body>

<div id="login">

    <h2><span class="fontawesome-lock"></span><%= pagetitle %></h2>

    <form method="post">

        <fieldset>

            <p><label for="first-name">First Name</label></p>
            <p><input type="text" name="fname" id="email" placeholder="Enter First Name" required></p>

            <p><label for="lname">Last Name</label></p>
            <p><input type="text" name="lname" id="lname" placeholder="Enter Last Name" required></p>

            <p><label for="dob">Date Of Birth</label></p>
            <p><input type="date" name="dob" id="date" required></p>

            <p><label for="tel">Mobile No</label></p>
            <p><input type="tel" name="tel" id="tel" placeholder="Enter Mobile No" required></p>

            <p><label for="email">Email ID</label></p>
            <p><input type="email" name="email" id="email" placeholder="Enter Email Address" required></p>

            <p><label for="password">Password</label></p>
            <p><input type="password" name="password" id="password" placeholder="Enter Password" required></p>

            <p><input type="submit" name="register" value="Register" style="background-color: #FFA000">
                <input type="button" value="Login" onclick="location.href='/'">
                <input type="button" value="About" onclick="location.href='/about'"></p>
            <p><%= message %></p>
        </fieldset>

    </form>

</div>

</body>
</html>
