<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/lstyle.css' />
</head>
<body>


<div id="login">
    <h2><%= pagetitle %></h2>

    <fieldset>
        <p>Verify your email address to proceed further</p>
        <form method='post'>


            <h3>Email Verification required. Click on Email Verification Button</h3>
            <p>If verification email not received check the email you entered</p>
            <p>email : <%= email %></p>

            <p><input type='submit' name='verify' value='Email Verification' style="background-color: #FFA000;"></p>
            <input type='button' name='email' value='Change Email' onclick="ver()"><br>
            <input type="hidden" name="email" id="em" required><br>
            <input type="hidden" name="password" id="pdw" required><br>
            <input type="hidden" name="submit" id="sub">
        </form>

        <p> <%= msg %></p>
    </fieldset>
</div>





<script>
    function ver(){
        var email = document.getElementById('em');
        var password = document.getElementById('pdw');
        var submit = document.getElementById('sub');
        email.setAttribute('type','email');
        email.setAttribute('placeholder','abc@gmail.com');


        password.setAttribute('type','password');
        password.setAttribute('placeholder', 'Password');

        submit.setAttribute('type','submit');
        submit.setAttribute('value','Change Email');
    }
</script>

</body>
</html>
